<%= form_with(model: @boot, local: true, url: choose_new_or_edit ) do |form| %>
  <% if @boot.errors.any? %>
    <div id="error_explanation">
      <h2><%= @boot.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @boot.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="boot_title">
    <%= form.label :title %>
  </div>
  <div class="boot_title">
    <%= form.label :content %>
  </div>
  <%= form.submit %>
<% end %>

<%= link_to "ブログ一覧画面にもどる", boots_path %>
